@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
    background: linear-gradient(135deg, rgba(255,182,193,0.7) 30%, rgba(255,192,203,0.6) 60%, rgba(255,240,245,0.5) 90%),
    radial-gradient(circle at 20% 20%, rgba(255,192,203,0.6), transparent 50%),
                radial-gradient(circle at 80% 30%, rgba(255,182,193,0.7), transparent 50%),
                radial-gradient(circle at 50% 70%, rgba(255,240,245,0.5), transparent 50%),
                radial-gradient(circle at 30% 80%, rgba(255,182,193,0.6), transparent 50%);
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
